#project_title {
	font-size: 36px;
}

#project_tagline {
	font-size: 18px;
	font-weight: 100;
	text-shadow: none;
}

#main_content_wrap {
	background-color: white;
}

/* indentation */
#main_content div div, #main_content div ul, #main_content div ol {
	padding-left: 20px;
}
